.button {
    font: inherit;
    background: #329C89;
    border: 1px solid #014d80;
    padding: 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
    
    border-radius: 20px;
    width:50%;
    margin-top: 10px;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #0b428a;
    border-color: #0b428a;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }

  .button:disabled{
    background: #329C89;
    border-color: #329C89;
  }
  