.login {
    width: 90%;
    max-width: 40rem;
    margin: 20vh auto;
    padding: 20px;
    height: 100%;
    max-height: 280px;
    border-radius: 10px;
  }
  
.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #3f77ee;
  background: #dddbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.btn:disabled{
  background: #88aaf3;
  cursor: auto;
}
.btn{
  background: #3f77ee;
  color: white;
  width: 100%;
  max-width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;


}
.btnClear{
  background: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;

}
@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}