.notesOuter{
    display: flex;
    padding: 20px 20px 0;
    height: calc(100vh - 80px);
    flex-direction: column;
}
::-webkit-scrollbar{
    display: none;
}
.flexbox{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: calc(100% - 310px);
}
.header{
    padding: 30px;
    width: 100%;
    width: 100%;
    text-align: right;
}
.name{
    font-size: 16px;
}
.ProjectOuter{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.projectBox{
    width: 30%;
    padding: 20px;
    background: #F5F9F9;
    border-radius: 15px 15px 0 0;
    height: 100%;
    max-height: 640px;
    overflow: auto;
}
.heading{
    font-size: 24px;
    letter-spacing: 0.05em;
    color: black;
    display: inline-block;
}
.boxHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.boxHeading{
    font-size: 14px;
}
.count{
    background: #ECF3F3;
    padding: 7px 6px;
    border-radius: 7px;
    font-size: 14px;
    color: #329C89;
}
.addBtn{
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: #ECF3F3;
    border-radius: 7px;  
    cursor: pointer;
}
.card{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 7px;
    background: none;
    background: white;
    margin-bottom: 20px;
}
.inputText{
    font-size: 14px;
    outline: none;
    border: none;
    background: none;
    padding: 10px 0
}


* {
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.App .column {
    width: 30%;
}

.droppableCol {
    width: 100%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
}

.item.dragging {
    background-color: coral;
}