* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  background: rgba(239, 240, 240, 0.849);
}

body {
  margin: 0;
}


.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 5px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-130 {
  margin-top: 160px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

/* MARGINS END */
/* PADDING START */
.p-20 {
  padding: 20px;
}

.pt-10 {
  padding-top: 10px;
}
.pt-0 {
  padding-top: 0 !important;
}

.primary-clean {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: #e1e9f0;
  cursor: pointer;
  font-family: "ns-semibold";
}

.secondary-btn {
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  background:   cadetblue;
  padding: 10px 20px;
  border-radius: 300px;
  cursor: pointer;
  color: #ffffff;
}

.dark-btn {
  font-family: "ns-semibold";
  font-size: 16px;
  border: none;
  background: #404040;
  padding: 10px 20px;
  border-radius: 300px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.dark-btn-outline {
  font-family: "ns-semibold";
  font-size: 16px;
  border: 1px solid #404040;
  background: transparent;
  padding: 10px 20px;
  border-radius: 300px;
  cursor: pointer;
  color: #404040;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dark-btn-outline:hover {
  background: #404040;
  color: #ffffff;
}

/* COMMON POPUP */
.popup-outer {
  display: flex;
  z-index: 3500;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  background: rgba(25, 18, 12, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popup-outer.show-popup {
  visibility: visible;
  opacity: 1;
}

.popup-outer.show-popup .popup-container {
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-container {
  padding: 10px;
  border-radius: 10px;
  background: white;
  position: relative;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.popup-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "ns-semibold";
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.popup-header {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.popup-header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.header-left {
  font-family: "ns-bold";
  font-size: 20px;
}

.popup-body {
  padding: 20px;
  padding-top: 0px;
  width: 100%;
  height: calc(100% - 130px);
  display: inline-block;
  overflow: auto;
}

.popup-footer {
  display: flex;
  justify-content: right;
}

.width-auto {
  width: auto;
}

.dis-block {
  display: block;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* COMMON POPUP */  

.close-btn {
  cursor: pointer;
}