.card {
    /* background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px; */
    position: absolute;
    width: 270px;
    height: 400px;
    left: 50%;
    right: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background: #FFFFFF;
    border: 2px solid rgba(26, 59, 88, 0.24);
    border-radius: 65px;
  }
  